.container {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
